:root {
  --primary-color:#36454F;
  --secundary-color: #d3d3d36f;
  --tertiary-color: #800020;
  --accent1-color:#264653;
  --accent2-color: #000000;
  --helding-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font) ;
    color:var(--accent1-color)
}
header , main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--helding-font);
    color:var(--primary-color)
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
