* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --color : steelblue;
    --text-align: center;
}

nav {
    background-color: var(--color);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--color);
}
p {
    padding: 0;
}
 main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}
main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    top: 0px;
    right:150px;
}
aside p {
        top: 300px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / .1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}